body {
	-webkit-appearance: none;
	-moz-appearance: none;
	font-family: OpenSans, Arial, Helvetica, sans-serif;
}

@font-face {
	font-family: "OpenSans";
	src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
	src: url(../fonts/OpenSans-Bold.woff) format("woff");
	src: url(../fonts/OpenSans-Bold.woff2) format("woff2");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "OpenSans"; 
	src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
	src: url(../fonts/OpenSans-Regular.woff) format("woff");
	src: url(../fonts/OpenSans-Regular.woff2) format("woff2");
	font-style: normal;
	font-weight: 400;
}

* {
	margin: 0;
	padding: 0;
}


/*                   HEADER                 */


.background {
	background: no-repeat 50% 50% #0a0e34;
	background-size: cover;
	border: 1px solid #0a0e34;
	position: relative;
}

.background::after {
	content: "";
	background-color: #0a0e34;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.9;
}

.container {
	position: relative;
	z-index: 1;
}


/*              <  640                 */



@media (max-width: 640px) {
	.wrap-header {
		margin: 7.8% 6.25% 23%;
	}
	.header {
		background-image: url(../images/football_767.jpg);
	}
	.logo {
		width: 130px; /*46.4%  55x205  50x190*/
		height: 35px;
		margin: 0 auto;
	}
	.title {
		margin: 130px auto 80px;
		width: 280px;
	}
	.title-1 {
		font-size: 28px;
	}
	.title-2 {
		padding-left: 45px;
		font-size: 28px;
	}
	.button-list {
		width: 280px;
		flex-grow: 0;
	}
	.item {
		margin: 5px auto;
		width: 280px;
		height: 35px;
	}
	.item-icon {
		width: 115px;
	}
	.logo-icon {
		width: 24px;
		padding-right: 8px;
		padding-top: 5px;
	}
	.item-text {
		font-size: 8px;
	}
	.row-1 {
		font-weight: 400;
	}
	.picture-footballer {
		width: 170px;
		left: calc(50% - 170px / 2);
		top: 75px;
	}
	.picture-basketball {
		width: 300px;
		left: calc(50% - 300px / 2);
		top: 75px;
	}
	.title-big {
		font-size: 50px;
		line-height: 60px;
		padding: 10px 0 0 20px;
	}
	.article {
		padding-top: 230px;
	}
	.article-aside {
		margin-left: 20px;
		margin-right: 20px;
	}
	.number-subject {
		padding-top: 60px;
	}
	.number {
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 20px;
		padding-right: 10px;
	}
	.number::after {
		height: 4px;
		width: 16px;
		border-radius: 1px;
		margin: 2px auto;
	}
	.number-basketball {
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 20px;
		padding-right: 10px;
	}
	.aside:nth-child(3n+1), .aside-basketball:nth-child(3n+1) {
		background-color: #fafafa;
	}
	.aside:nth-child(3n+3) .number::after, .aside-basketball:nth-child(3n+3) .number-basketball::after {
		height: 4px;
		width: 16px;
		border-radius: 1px;
		margin: 2px auto;
	}
	.subject {
		font-size: 23px;
		letter-spacing: 1px;
	}
	.subject-3 {
		font-size: 28px;
		letter-spacing: 1px;
		line-height: 34px;
	}
	.text {
		font-size: 15px;
		letter-spacing: 1px;
		line-height: 18px;
		padding-top: 28px;
		padding-bottom: 50px;
	}
	.number-3::after {
		border-radius: 1px;
		margin: 2px auto;
		height: 4px;
		width: 16px;
	}
	.number-3 {	
		font-size: 14px;
		letter-spacing: 1px;
		width: 70px;
		height: 70px;
		left: 20px;
		bottom: -10px;
		padding-top: 25px;
	}	
	.article-aside-3 {
		margin: 30px 20px 0 20px;
	}
	.footer {
		background-image: url(../images/game_767.jpg);
	}
	.wrap-footer {
		margin: 95px 20px 8px;
	}
	.logo-big {
		width: 70px;
		height: 70px;
	}
	.logo-img {
		width: 55px;
		height: 45px;
		padding-top: 11px;
	}
	.download {
		margin: 55px auto 90px;
		width: 280px;
	}
	.app{
	font-size: 32px;
	letter-spacing: 1px;
	}
	.slogan {
		font-size: 14px;
		letter-spacing: 0.6px;
	}
	.buttons-footer {
		margin-bottom: 80px;
	}
}



/*             641 - 960             */



@media (min-width: 641px) and (max-width: 960px) {
	.wrap-header {
		margin: 30px 50px 75px/*3.9% 6.6% 11.07%; */
	}
	.header {
		background-image: url(../images/football_1280.jpg);
	}
	.logo {
		width: 30.3%; /*35x130  55x205  50x190*/
		margin: 0 auto; /*30 35 40*/ 
	}
	h1 {
		margin: 0;
	}
	.title {
		margin: 170px auto 305px;
		max-width: 590px;
		height: 195px;
	}
	.title-1 {
	font-size: 64px;
	letter-spacing: 3px;
	}
	.title-2 {
		font-size: 64px;
		width: 480px;
		margin-left: auto;
		margin-right: 0;
	}
	.button-list {
		max-width: 645px;
		justify-content: center;
	}
	.item {
		margin: 5px 10px;
		width: 300px;
		height: 70px;
	}
	.item-icon {
		width: 210px;
	}
	.logo-icon {
		width: 45px;
		padding-right: 25px;
		padding-top: 10px;
	}
	.item-text {
		font-size: 14px;
	}
	.row-1 {
		font-weight: 300;
		padding-top: 8px;
	}
	.title-big {
		font-size: 80px;
		line-height: 60px;
		padding: 80px 25px 0 285px;
	}
	.title-big-basketball {
		padding: 80px 0 0 30px;
	}
	.picture-footballer {
		height: 680px;
		left: -160px;
		top: 80px;
	}
	.picture-basketball {
		right: 435px;
		top: 20px;
	}
	.article-aside-footballer {
		margin-left: 285px;
		margin-right: 25px;
	}
	.article-aside-basketball {
		margin-left: 30px;
		margin-right: 25px;
		width: 50%;
	}
	.number-subject-footballer {
		padding-top: 30px;
	}
	.number-subject-basketball {
		padding-top: 30px;
	}
	.number {
		font-size: 18px;
		letter-spacing: 1px;
		line-height: 34px;
		padding-right: 10px;
	}
	.number::after {
		height: 5px;
		width: 21px;
		border-radius: 2px;
		margin: 2px auto;
	}
		.number-basketball {
		font-size: 18px;
		letter-spacing: 1px;
		line-height: 34px;
		padding-right: 10px;
	}
	.aside:nth-child(3n+3) .number::after, .aside-basketball:nth-child(3n+3) .number-basketball::after {
		height: 5px;
		width: 21px;
		border-radius: 2px;
		margin: 2px auto;
	}
	.subject {
		font-size: 32px;
		letter-spacing: 2px;
	}
	.article-aside-3 {
		padding: 60px 25px 0 25px;
	}
	.subject-3 {
		font-size: 80px;
		letter-spacing: 1px;
	}
	.text {
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 28px;
		padding-top: 25px;
		padding-bottom: 30px;
	}
	.number-3::after {
		border-radius: 1px;
		margin: 2px auto;
		height: 4px;
		width: 28px;
	}
	.number-3 {	
		font-size: 24px;
		letter-spacing: 1px;
		width: 110px;
		height: 110px;
		left: 35px;
		bottom: -30px;
		padding-top: 25px;
	}	
	.text-3 {
		font-size: 24px;
		line-height: 28px;
		padding: 30px 0 105px;
	}
	.footer {
		background-image: url(../images/game_1280.jpg);
	}
	.wrap-footer {
		margin: 110px 15px 20px 15px; /*15.6% 3.9% 2.6%;*/
	}
	.logo-big {
		width: 125px;
		height: 133px;
	}
	.logo-img {
		width: 100px;
		height: 85px;
		padding-top: 24px;
	}
	.download {
		margin: 75px auto 280px;		
		max-width: 685px;
	}
	.app {
		font-size: 80px;
		/* letter-spacing: 3px; */
		text-align: center;
	}
	.slogan {
		font-size: 36px;
		/* letter-spacing: 0.6px; */
		text-align: center;
	}
	.buttons-footer {
		margin-bottom: 50px;
	}
}


/*             961 - 1920             */


@media (min-width: 961px) and (max-width: 1920px){
	.wrap-header {
		margin: 2.1% 10% 5.68%;
	}
	.header {
		background-image: url(../images/football_1920.jpg);
	}
	.logo {
		width: 12.5%;
		margin: 0 auto;
	}
	h1 {
		margin: 0;
	}
	.title {
		margin: 290px auto 218px;
		max-width: 1520px;
		letter-spacing: 5px;
		display: block;
	}
	.title-1 {
		font-size: 90px;
	
	}
	.title-2 {
		font-size: 90px;
		text-align: right;
	}

	.footer {
		background-image: url(../images/game_1920.jpg);
	}
}


.title {
	letter-spacing: 1px;
	color: #ffffff;
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	/* margin: 130px auto 80px;
	width: 280px;
	height: 110px; */
}


.button-list {
	-webkit-appearance: none;
	-moz-appearance: none;
	list-style-type: none;
	padding-left: 0;
		
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	/* width: 280px;
	flex-grow: 0; */
}

.item {
	background-color: #5e42b0;
	border: 1px solid #5e42b0;
	border-radius: 50px;
	box-sizing: border-box;
	/* margin: 5px auto;
	width: 280px;
	height: 35px; */
}

.item-icon {
	text-decoration: none;
	color: #ffffff;
	margin: auto;
	display: flex;
	align-items: center;
	/* width: 115px; */
}

/* .logo-icon {
	width: 24px;
	padding-right: 8px;
	padding-top: 5px;
} */

.item-text {
	color: #ffffff;
	text-transform: uppercase;
	/* font-size: 8px; */
}

/* .row-1 {
	font-weight: normal;
	padding-top: 3px;
} */

.row-2 {
	font-weight: bold;
}



/*         CONTENT            */


.box {
	display: flex;
	flex-wrap: wrap	;
	position: relative;
}

.picture, .foto {
	/* width: 100vw; */
	margin: 0 auto;
	position: absolute;
}

.title-big {
	/* font-size: 50px;
	line-height: 60px; */
	color: #e7e7e7;
	font-weight: bold;
	text-transform: uppercase;
}

.article {
	counter-reset: section; /* счетчик=0*/
}
.article-3 {
	counter-reset: section; /* счетчик=0*/
}
.foto-box {
	position: relative;
}
.picture-3, .foto-3 {
	width: 100vw;
	position: relative;
}
/* .article-aside {
	margin-left: 20px;
	margin-right: 20px;
	margin: 7.8% 6.25% 23%; 
} */

/* .aside:nth-child(3n+1), .aside-basketball:nth-child(3n+1) {
	background-color: #fafafa;
} */
.aside:nth-child(3n+2), .aside-basketball:nth-child(3n+2) {
	background-color: #f5f4f9;
}
.aside:nth-child(3n+3){
	background-color: #5e42b0;
}

.aside-basketball:nth-child(3n+3){
	background-color: #090c35;
}

.number-subject {
	display: flex;
	/* padding-top: 60px; */
}

.number::before, .number-basketball::before, .number-3::before  {
	counter-increment: section; /* Инкрементирует счетчик*/
	content: counter(section, decimal-leading-zero);/* Отображает текущее значение счетчика*/
}

.number {
	/* font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
	padding-right: 10px; */
	font-weight: bold;
}

.number::after {
	content: "";
	display: block;
	background-color: #5e42b0;

	/* height: 4px;
	width: 16px;
	border-radius: 1px;
	margin: 2px auto; */
}

.number-basketball {
	/* font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
	padding-right: 10px; */
	color: #8765dd;
	font-weight: bold;
}

.aside:nth-child(3n+3) .number::after, .aside-basketball:nth-child(3n+3) .number-basketball::after {
 	content: "";
	display: block;
	background-color: #ffffff;

	/* height: 4px;
	width: 16px;
	border-radius: 1px;
	margin: 2px auto; */
}

.subject {
	/* font-size: 23px;
	letter-spacing: 1px; */
	color: #c1c1c1;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.subject-3 {
	/* font-size: 28px;
	letter-spacing: 1px;
	line-height: 34px; */
	color: #e7e7e7;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.text {
	/* min-height: 108px; */
	/* font-size: 15px;
	letter-spacing: 1px;
	line-height: 18px;
	padding-top: 28px;
	padding-bottom: 50px; */
	color: #000000;
	font-weight: normal;
}

.aside:nth-child(3n+3) .text, .aside-basketball:nth-child(3n+3) .text {
	color: #ffffff;
}

/* .foto-3 {
	position: relative;
} */

.number-3::after {
	content: "";
	display: block;

	background-color: #ffffff;
	opacity: 0.3;
	/* border-radius: 1px;
	margin: 2px auto;
	height: 4px;
	width: 16px; */
}

.number-3 {	
	/* font-size: 14px;
	letter-spacing: 1px;
	width: 70px;
	height: 70px;
	left: 20px;
	bottom: -10px;
	padding-top: 25px; */

	background-color: #5e42b0;
	text-align: center;
	box-sizing: border-box;
	position: absolute;
	color: #f5f6f7;
	font-weight: bold;
}
/* .article-aside-3 {
	margin: 30px 20px 0 20px;
} */



/*         FOOTER            */



/* .wrap-footer {
	margin: 95px 20px 8px;
} */
.logo-big {
	/* width: 70px;
	height: 70px; */
	background-color: #5e42b0;
	border: 1px solid #5e42b0;
	border-radius: 15px;
	margin: 0 auto;

	text-align: center;
}
/* .logo-img {
	width: 55px;
	height: 45px;
	padding-top: 11px;
} */
.download {
	/* margin: 55px auto 90px;
	width: 280px; */
	justify-items: center;	
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
}
.app {
	/* font-size: 32px;
	letter-spacing: 1px; */
	color: #ffffff;
	font-weight: bold;
}
.slogan {
	/* font-size: 14px;
	letter-spacing: 0.6px; */
	color: #9b8ec1;
	font-weight: normal;
}

/* .buttons-footer {
	margin-bottom: 80px;
} */

